@model ClienteModel

@{
    Layout = "_Layout";
}

<h2>Atualizando dados de Cliente</h2>



<div class="container">
    <form asp-controller="Cliente" asp-action="EditarCliente" method="post" >
        <tbody>
        <div asp-validation-summary="All">
            <input asp-for="ID" value="@Model.ID" style="display: none" /><br/>
            Nome:
            <input asp-for="Nome" value="@Model.Nome"/><br/>
            CEP:
            <input asp-for="CEP" value="@Model.CEP"/><br/>
            Endereço:
            <input asp-for="Endereco" value="@Model.Endereco"/><br/>
            Bairro:
            <input asp-for="Bairro" value="@Model.Bairro"/><br/>
            Cidade:
            <input asp-for="Cidade" value="@Model.Cidade"/><br/>
            UF:
            <input asp-for="Uf" value="@Model.Uf"/><br/>
            Status:
            <input asp-for="Status" value="@Model.Status"/><br/>
        </div>
        </tbody>
        <a asp-controller="Cliente" asp-action="ListaClientes" class="btn btn-primary" >Voltar</a>
        <button  type="submit" class="btn btn-sussec">Salvar</button>
    </form>
</div>